<?xml version="1.0"?>
<launch>
  <!-- Gazebo + custom world -->
  <arg name="world_file" default="$(find custom_worlds)/worlds/labyrinthe.world" />
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" />
  <arg name="x_pos" default="0.0" />
  <arg name="y_pos" default="0.0" />
  <arg name="z_pos" default="0.0" />
  <arg name="initial_pose_a" default="0.0" />

  <include file="$(find custom_worlds)/launch/labyrinthe.launch">
    <arg name="world_file" value="$(arg world_file)" />
    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="true" />
    <arg name="headless" value="false" />
    <arg name="debug" value="false" />
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" output="screen"
        args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

  <include file="$(find custom_planners)/launch/custom_navigation.launch">
    <arg name="algorithm" value="astar" />
    <arg name="open_rviz" value="true" />
    <arg name="model" value="$(arg model)" />
    <arg name="map_file" value="/home/ubuntu/workspace/maps/labyrinthe_map.yaml" />
    <arg name="move_forward_only" value="false" />
    <arg name="initial_pose_x" value="$(arg x_pos)" />
    <arg name="initial_pose_y" value="$(arg y_pos)" />
    <arg name="initial_pose_a" value="$(arg initial_pose_a)" />
  </include>
</launch>
